:root {
    --p-primary-color: #046ac8;
    --p-button-primary-hover-background: #0087ff;
    --p-button-outlined-primary-border-color: #86cbec;
}

.layout-topbar {
    border-bottom: 1px solid #ccc;
}

.text-red {
    color: red;
}

.layout-topbar {
    background-color: #222d32 !important;
}

.add-modal .p-dialog-header {
    background: #ff617d;
    color: #fff;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 15px;
}
